<%- include ./partials/header.ejs %>
<%- include ./partials/main_nav.ejs %>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %> page</p>
<%- include ./partials/footer.ejs %>

<style>
    body {
        background-color: #022340;
        font-family:'Times New Roman', Times, serif; 
    }
</style>

<p> Hi, I am Shifa Faisal & this is my portfolio website, where I showcase my skills, projects, and experiences as a Networking and IT student and an owner owner an imaginary bakery!!</p>

<style>
    body {
        background-color: #022340;
        color: lightslategray
        }
    #home-gallery {
        text-align: center;
    }
</style>

<div id = "home-gallery">
    <img src="/Asset/images/sunset.jpeg" alt="Picture of sunset" width="30%">
    <img src="/Asset/images/pizza.jpeg" alt="Picture of pizza" width="30%">
    <img src="/Asset/images/food.jpeg" alt="Picture of muffins" width="30%">
</div>"
