<%- include ./partials/header.ejs %>
<%- include ./partials/main_nav.ejs %>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %> page</p>
<%- include ./partials/footer.ejs %>
<style>
    background-color: #022340;
</style>

<p> Hi, I am Shifa Faisal & this is my portfolio website, where I showcase my skills, projects, and experiences as a Networking and IT student and an imaginary owner own a bakery!!</p>
<figure class="sunset-img">
    <img src="/Asset/images/sunset.jpeg" alt="Picture of sunset">
</figure>

<figure class="pizza-img">
    <img src="/Asset/images/pizza.jpeg" alt="Picture of pizza">
</figure>

<figure class="food-img">
    <img src="/Asset/images/food.jpeg" alt="Picture of muffins">
</figure>